/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #080808;
    background-alt: #282828;
    foreground:     #FFFFFFFF;
    selected:       #282828;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
