/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #1E1D2FFF;
    foreground:     #cdd6f4;
    selected:        #cdd6f4;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
